@font-face {
  font-family: "Zilla-Light";
  src: url(../typeface/Zilla_Slab/ZillaSlab-Medium.ttf);
}
@font-face {
  font-family: "Inter-Light";
  src: url(../typeface/Zilla_Slab/ZillaSlab-Medium.ttf);
}
